@import './base.css';

#app {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

input, select, textarea {
  background-color: var(--color-background-soft);
  color: var(--color-text);
}

textarea {
  resize: vertical;
  max-height: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 1em;
  flex-grow: 1;
  min-height: 0;
}

button {
  cursor: pointer;
  background: none;
  color: var(--color-text);
  border: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5rem;
}

button.delete {
  color: var(--color-highlight);
}

button[type="submit"], button.submit, button[type="reset"] {
  color: var(--color-background);
  border: none;
  border-radius: 0.25rem;
}

button[type="submit"], button.submit {
  background-color: var(--color-text-ok);
}

button[type="reset"] {
  background-color: var(--color-text-cancel);
}

.button-pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
  justify-content: flex-start;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

fieldset {
  padding: 0;
  border: none;
}

input, select {
  font-size: 1em;
}

.big-window {
  flex-grow: 1;
  overflow-y: scroll;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}