@import './base.css';

#app {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button {
  cursor: pointer;
}

input, select, textarea {
  background-color: var(--color-background-soft);
  color: var(--color-text);
}

textarea {
  resize: vertical;
  max-height: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

button[type="submit"], button[type="reset"] {
  padding: 0.5rem;
  color: var(--color-background);
  border: none;
  border-radius: 0.25rem;
  font-size: 1em;
}

button[type="submit"] {
  background-color: var(--color-text-ok);
}

button[type="reset"] {
  background-color: var(--color-text-cancel);
}